<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Meme Website</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>A website for memes!</h1>
        <p>Here's a meme! Will refresh in 30s</p>
        <p><img src="{{meme_pic}}" alt="Random meme"></p>
        <p class="subreddit-info">Current subreddit: {{subreddit}}</p>
    </div>
</body>
</html>